

@font-face {
  font-family: 'Coconat-Bold';
  src: url('/Coconat-BoldExt.woff') format('woff'),
       url('/Coconat-BoldExt.woff2') format('woff2');
  /* You can add additional font formats here if needed */
}


@font-face {
  font-family: 'Coconat-Regular';
  src: url('/Coconat-Regular.woff') format('woff'),
       url('/Coconat-Regular.woff2') format('woff2');
  /* You can add additional font formats here if needed */
}

@font-face {
  font-family: 'Cantique';
  src: url('/Cantique-Normal.woff') format('woff');
}

.background-image {
  width: 350vw; /* Adjust this value to make the background image larger */
  height: 350vh; /* Adjust this value to make the background image larger */
  background-image: url("/assets/backdrop1.png");
  background-size: 350vw 350vh;
  background-position: center;
  left: -100vw;
  top: -120vh; /* Center the image vertically in the viewport */

  position: absolute;
  z-index: 0;


}

.onelink {
  top: 140vh;
  left: -70vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 15vh;
}

.onelinktwo {
  top: 160vh;
  left: -90vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 15vh;
}

.twolinkone {
  top: 80vh;
  left: -70vw;
  position: absolute; 
  border: 1px solid;
  border-color: transparent;
  font-size: 15vh;
 
}


.twolinktwo {
  top: 500px;
  left: -800px;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 15vh;
}

.threelinktwo {
  top: -50vh;
  left: -60vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 15vh;
}

.threelinkone {
  top: -92vh;
  left: -88vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 15vh;
}

.fourlinkone {
  top: -82vh;
  left: 50vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 28vh;
}

.fivelinkone {
  top: 20vh;
  left: 54vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 28vh;
  z-index: 999;
}

.sixlinkone {
  top: 120vh;
  left: 50vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 28vh;
}

.sixlinktwo {
  top: 170vh;
  left: 30vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 28vh;
}

.sevenlinkone {
  top: 15vh;
  left: 190vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 28vh;
}

.sevenlinktwo {
  top: 10vh;
  left: 20vw;
  position: absolute;
  border: 1px solid;
  border-color: balck;
  font-size: 28vh;
}


a {
  color: transparent;

}
a:hover {
  animation: glow 1s infinite alternate;
}

.twolinkthree {
  top: 35vh;
  left: -68vw;
  font-size: 20vh;
  position: absolute;
 
}





.one_a img {
  position: absolute;
  width: 28vw; /* Adjust the width as needed */
  height: 35vh; /* Maintain aspect ratio */
  top: 136vh; 
  left: -43vw;
  animation: glow 1s infinite alternate;
}

.one_b img {
  position: absolute;
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: 1600px; 
  left: -1000px;
  animation: glow 1s infinite alternate;
}

.two_a img {
  position: absolute;
  width: 30vw; /* Adjust the width as needed */
  height: 37vh; /* Maintain aspect ratio */
  top: 87vh; 
  left: -27vw;
  animation: glow 1s infinite alternate; 
}

.two_b img {
  position: absolute;
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: 400px; 
  left: -1600px;
  animation: glow 1s infinite alternate;
}

.two_c img {
  position: absolute;
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: 100px; 
  left: -800px; 
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.two_d img {
  position: absolute;
  width: 700px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: 40vh; 
  left: -30vw; 
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.three_a img {
  position: absolute;
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: -200px; 
  left: -1000px;
  animation: glow 1s infinite alternate;
}

.three_b img{
  position: absolute;

  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: -1080px; 
  left: -1480px;
  margin: 20px;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
  
}

.three_c img{
  position: absolute;

  width: 300px;
  height: auto; 
  top: -400px; 
  left: -1500px;
  animation: glow 1s infinite alternate;
  margin: 20px;
}

.three_d img{
  position: absolute;

  width: 400px;
  height: auto; 
  top: -900px; 
  left: -100px;
  margin: 20px;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.four_a img {
  position: absolute;
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 200px;
  top: -650px; 
  animation: glow 1s infinite alternate;
}

.five_a img {
  position: absolute;
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 230px;
  top: -90px; 
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}
.five_b img {
  position: absolute;
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 290px;
  top: 300px; 
  animation: glow 1s infinite alternate;
}

.five_c img {
  position: absolute;
  width: 500px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 150px;
  top: 70vh; 
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.five_d img {
  position: absolute;
  width: 450px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 860px;
  top: 60px;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.six_a img {
  position: absolute;
  width: 370px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 250px;
  top: 1100px; 
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}


.seven_a img{
  position: absolute;

  width: 300px;
  height: auto; 
  top: -1000px; 
  left: 3800px;
  animation: glow 1s infinite alternate;
  margin: 20px;
}


.seven_b img{
  position: absolute;

  width: 300px;
  height: auto; 
  top: 10vh; 
  left: 220vw;
  animation: glow 1s infinite alternate;
  margin: 20px;
}

.eight_a img{
  position: absolute;
  width: 340px;
  height: auto; 
  top: 79vh; 
  left: 105vw;
  animation: glow 1s infinite alternate;
  margin: 20px;
}

.eight_b img{
  position: absolute;
  width: 22vw;
  height: auto; 
  top: 90vh; 
  left: 151vw;
  margin: 20px;
  z-index: 999;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}



.nine_a img{
  position: absolute;

  width: 70vw;
  height: auto; 
  top: 118vh; 
  left: 100vw;
  animation: glow 1s infinite alternate;
  margin: 20px;
}

.eleven_a img{
  position: absolute;

  width: 200px;
  height: auto; 
  top: 100vh; 
  left: 185vw; 
  margin: 20px;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.eleven_popup_b img{
  position: absolute;

  width: 400px;
  height: auto; 
  top: 1000px; 
  left: 2300px;
  box-shadow: 2px 2px 10px rgb(255, 67, 161), -2px -2px 10px rgb(255, 67, 161);  
  margin: 20px;
}

.eleven_popup_c img{
  position: absolute;

  width: 200px;
  height: auto; 
  top: 1000px; 
  left: 2200px;
  animation: glow 1s infinite alternate;
  margin: 20px;
}


.overlay {
  display: none;
  position: fixed;
  background-image: url("/Untitled-1.png");
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 211, 33);
  z-index: 999; /* Ensure it's above other content */
}

.intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  
}

.Text {
  font-family: 'Coconat-Regular';
  font-size: 20px;
  text-shadow: 2px 1px 2px rgb(255, 77, 219);
  color: rgb(76, 0, 255);
  
}


.title {
  font-family: 'Cantique';
  font-size: 40px;
  color: rgb(60, 0, 255);
  text-shadow: 2px 1px 2px rgb(255, 94, 236); 
}


#close-intro {
  position: relative;
  margin-top: 10px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  font-family: 'Coconat-Bold';
  text-shadow: 2px 2px 5px rgb(255, 114, 239);
  color: rgb(255, 211, 33);
  font-size: 30px;
}



@keyframes glow {
  from {
    box-shadow: 2px 2px 10px rgb(255, 67, 161), -2px -2px 10px rgb(255, 67, 161);  
  }
  to {
    box-shadow: 10px 10px 20px white, -10px -10px 20px white;  
  }
}

